@import url(https://fonts.googleapis.com/css?family=Fira+Sans);

:root {
	--line-color: white;
	--radius: 46px;
	--control-padding: 12px;
}

body {
	font-family: "Fira Sans", sans-serif;
	font-size: 20px;
	color: white;
	background: orangered;
	margin: 0;
}

hr {
	height: 1px;
	border: none;
	background-color: var(--line-color);
	margin: 48px;
}

.link {
	cursor: pointer;
}

.link:after {
	content: "🔗";
}

button {
	line-height: 20px;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
	border: 1px solid var(--line-color);
	border-radius: var(--radius);
	padding: var(--control-padding);
	cursor: pointer;
	margin: 4px;
}

button:disabled {
	opacity: 0.5;
	cursor: default;
}

button:hover {
	background-color: rgba(255, 255, 255, 0.2);
	transition: 100ms;
}

input {
	line-height: 20px;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
	border: 1px solid var(--line-color);
	border-radius: var(--radius);
	padding: var(--control-padding);
	max-width: 80vw;
}


.hidden {
	display: none;
}

#overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	text-align: center;
	padding-top: 25vh;
}

#overlay span {
	display: block;
}

#login input {
	margin-bottom: 6px;
}

#blur {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 0.8;
	z-index: -1;
}

#main {
	text-align: center;
	width: 50%;
	position: relative;
	left: 25%;
	top: 25%;
	padding-top: 12px;
}

#suggestion {
	display: block;
	word-break: break-all;
	font-weight: bold;
	font-size: 2.5em;
	text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
	margin: 12px;
}

#sounds-good:before {
	content: "👍 ";
}

#name:before {
	content: "👤 ";
}

#my-vote:before {
	content: "🗳️ ";
}

#alternatives {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 12px;
}

.alternative {
	padding: 12px;
}

.alternative-place {
	font-weight: bold;
	margin-right: 12px;
}

.alternative-votes:before {
	content: "🗳️ ";
}

.alternative-voters {
	display: block;
	font-size: 0.8em;
	opacity: 0.8;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.chosen {
	background-color: white;
	color: black;
	border-color: black;
}

.chosen:hover {
	background-color: white;
	color: black;
	border-color: white;
	transition: 100ms;
}

#suggest:before {
	content: "🍲 ";
}

#shadow {
	width: 100vw;
	height: 50vh;
	position: fixed;
	left: 0;
	bottom: 0;
	background: linear-gradient(transparent, black);
	opacity: 0.8;
	z-index: -1;
}

@media (max-width: 800px) {
	#main {
		width: 90%;
		left: 5%;
	}
	
	#alternatives {
		grid-template-columns: 1fr;
	}
}
